<% content_for :banner do %>
  <section>
    <div>
      <ul>
        <li id="b1">
          <a href="/pg/new-arrivals">
            <img src="/images/dogradio/homepage/slideshow/new-arrivals.jpg" width="960" height="303" alt="New Arrivals">
          </a>
        </li>
        <li id="b2">
          <a href="/pg/car-stereos">
            <img src="/images/dogradio/homepage/slideshow/car-stereos.jpg"  width="960" height="303" alt="Car Stereos">
          </a>
        </li>
        <li id="b3">
          <a href="/pg/accessory-sale">
            <img src="/images/dogradio/homepage/slideshow/accessories.jpg" width="960" height="303" alt="Accessory Sale">
          </a>
        </li>
        <li id="b4">
          <a href="/pg/clearance-event">
            <img src="/images/dogradio/homepage/slideshow/clearance.jpg" width="960" height="303" alt="Clearance Event">
          </a>
        </li>
      </ul>
    </div>
  </section>

  <nav id="banner-nav">
    <ul>
      <li class="first"><a href="#">&laquo;</a></li>
      <li class="current" id="b1_handle" ><a href="#">new arrivals</a></li>
      <li id="b2_handle"><a href="#">car stereos</a></li>
      <li id="b3_handle"><a href="#">accessory sale</a></li>
      <li id="b4_handle"><a href="#">clearance event</a></li>
      <li class="last"><a href="#">&raquo;</a></li>
    </ul>
  </nav>

<% end %>


<div id="taxons" class="clearfix">
  <% @product_groups.each do |group| %>
    <% url = pg_search_path(:product_group_name => group.permalink) %>
    <div class="taxon">
      <h3><%= link_to group.name, url %></h3>
      <%= link_to url do %>
        <%= image_tag("dogradio/homepage/taxons/#{group.permalink}.jpg", :class => "image", :alt => group.name) %><br>
      <% end %>
      <%= link_to 'View More', url, :class => 'button' %>
    </div>
  <% end %>
</div>

<div id="all-products" class="list-box">
  <h2>All Products</h2>
  <div class="left">
    <ul>
      <% @taxons.each_with_index do |taxon,i| %>
        <% next if i % 2 == 0 %>
        <li><%= raw link_to(taxon.name, seo_url(taxon)) %></li>
      <% end %>
    </ul>
  </div>
  <div class="right">
    <ul>
      <% @taxons.each_with_index do |taxon,i| %>
        <% next if i % 2 == 1 %>
        <li><%= raw link_to(taxon.name, seo_url(taxon)) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="contact">
  <div>
    <h2>Contact Us</h2>
    <p class="phone">(301) 560-2000</p>
    <p><a href="mailto:sales@railsdogradio.com" class="email">sales@railsdogradio.com</a>
    <table>
      <tr>
        <td>Mon-Fri</td> <td>10am - 6pm CST</td>
      </tr>
      <tr>
        <td>Sat</td> <td>10am - 4pm CST</td>
      </tr>
      <tr>
        <td>Sun</td> <td>CLOSED</td>
      </tr>
    </table>
  </div>
</div>

