<% @body_id = 'product-list' %>

<div id="banner" role="banner" style="background-image: url(/images/dogradio/taxon/satellite-radios-bg.jpg)">
  <h1><%= @taxon.name %></h1>
</div>

<div id="main">
  <div id="products" role="products">

  <% if @taxon.children.empty? || !params[:keywords].blank? %>
      <%= render :partial => "shared/products", :locals => {:products => @products, :taxon => @taxon } %>
  <% else %>
    <p class="breadcrumbs"><%= link_to 'Products', products_path %> &raquo; <%= @taxon.name %></p>
    <%= render :partial => "shared/products", :locals => {:products => taxon_preview(@taxon), :taxon => @taxon} %>
  <% end %>

  </div>
</div>

<div id="sidebar">
  <div id="all-products">
    <h2>All Products</h2>
    <ul>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
      <li><a href="#">Holiday Sale Items</a></li>
    </ul>
  </div>
</div>
