<%# TODO: checkbox to use shipping address in billing %>
<%# TODO: update states select based on chosen country %>
<div id="content" role="content">
  <p>Enter your Shipping Information</p>
  <%= form.fields_for :ship_address do |ship_form| %>
  <ul class="fields">
  	<li class="short">First name<br/><%= ship_form.text_field :firstname %></li>
  	<li>Last name<br/><%= ship_form.text_field :lastname %></li>
  	<li>Shipping address<br/><%= ship_form.text_field :address1 %></li>
  	<li>Shipping address 2<br/><%= ship_form.text_field :address2 %></li>
  	<li>City<br/><%= ship_form.text_field :city %></li>
  	<li>State<br/><%= ship_form.collection_select :state_id, Country.first.states, :id, :name %></li>
  	<li>Postal code<br/><%= ship_form.text_field :zipcode %></li>
  	<li>Country<br/><%= ship_form.collection_select :country_id, Country.all, :id, :name %></li>
  	<li>Phone<br/><%= ship_form.text_field :phone %><span><a href="#">Why ask?</a></span></li>
  </ul>
  <% end %>
  <hr/>
  <p>Enter your Billing Information</p>
  <%= form.fields_for :bill_address do |bill_form| %>
  <ul class="fields">
  	<li class="short">First name<br/><%= bill_form.text_field :firstname %></li>
  	<li>Last name<br/><%= bill_form.text_field :lastname %></li>
  	<li>Shipping address<br/><%= bill_form.text_field :address1 %></li>
  	<li>Shipping address 2<br/><%= bill_form.text_field :address2 %></li>
  	<li>City<br/><%= bill_form.text_field :city %></li>
  	<li>State<br/><%= bill_form.collection_select :state_id, Country.first.states, :id, :name %></li>
  	<li>Postal code<br/><%= bill_form.text_field :zipcode %></li>
  	<li>Country<br/><%= bill_form.collection_select :country_id, Country.all, :id, :name %></li>
  	<li>Phone<br/><%= bill_form.text_field :phone %><span><a href="#">Why ask?</a></span></li>

    <%# assuming single payment method %>
    <%= hidden_field_tag "order[payments_attributes][][payment_method_id]", @order.available_payment_methods.first.try(:id) %>

    <%# assuming creditcard payment method %>
    <%= render "checkout/payment/gateway", :payment_method => @order.available_payment_methods.first %>

    <%# for now just assign the first available shipping method - can be changed on next step %>
    <%= hidden_field_tag "order[shipping_method_id]", @order.available_shipping_methods.first.try(:id) %>

  </ul>
  <% end %>
  <div class="submit"><input type="submit" class="button blue" value="REVIEW YOUR ORDER &#8227;"/></div>
</div>
