<% content_for :javascripts do %>
  <%= javascript_tag do %>
    $('#order_shipping_method_id').change(function() {
      var shipping_method_id = $(this).val();
      var selected_shipping_method = $(this).find("option[value='" + shipping_method_id + "']").html();

      $(this).find("option[value='" + shipping_method_id + "']").html("Updating...");
      $(this).attr('disabled', 'disabled');

      $.post("/checkout/update/set_shipping", { state: "payment",  "order[shipping_method_id]": shipping_method_id },
        function(data){
          var table = $('table.total tbody');
          table.html('');
          table.append('<tr><th>Subtotal</th><td>$' + parseFloat(data.order.item_total).toFixed(2) + '</td></tr>');

          $.each(data.order.adjustments, function(index, adjustment) {
            table.append('<tr><th>' + adjustment.label + '</th><td>$' + parseFloat(adjustment.amount).toFixed(2) + '</td></tr>');
          });

          table.append('<tr class="total"><th>Total</th><td>$' + parseFloat(data.order.total).toFixed(2) + '</td></tr>');

          $('#order_shipping_method_id').find("option[value='" + shipping_method_id + "']").html(selected_shipping_method);
          $('#order_shipping_method_id').removeAttr('disabled');

        }
      );

    });
  <% end %>
<% end %>
<div id="content" role="content">
  <h2>Choose A Shipping Method</h2>
  <ul class="fields">
    <li><%= form.select :shipping_method_id, @order.rate_hash.collect {|sm| [ "#{sm[:name]} - #{number_to_currency(sm[:cost])}", sm[:shipping_method].id ] } %></li>
  </ul>

  <div id="order-items" style="padding:0 30px 30px 0">
    <h2>Items In Your Order</h2>
    <ul>
    <% @order.line_items.each do |line_item| %>
      <li>
        <%= line_item.quantity %> <%= line_item.variant.product.name %> for
        <%= number_to_currency (line_item.price * line_item.quantity)-%>
      </li>
    <% end %>
    </ul>
    <%= link_to "edit", cart_path %>
  </div>

  <div id="order-email" style="padding:30px 30px 30px 0">
    <h2>Order Contact Details</h2>
    <h4>Email</h4>
    <%= @order.email %>
  </div>

  <% ["ship", "bill"].each do |addr_type| %>
    <% address = @order.send("#{addr_type}_address") %>
    <div id="order-#{addr_type}_address" style="float:left; padding:30px 30px 30px 0">
      <h4><%= addr_type.capitalize %> Address</h4>
      <p>
        <%= address.full_name %><br />
        <%= address.address1 %><br />
        <% unless address.address2.blank? %>
          <%= address.address2 %><br />
        <% end %>
        <%= address.city %>&nbsp;
        <% if address.state_id.blank? %>
          <br /><%= address.state_name %><br />
        <% else %>
          <%= address.state.abbr %><br />
        <% end %>
        <%= address.country.try(:name) %> <%= address.zipcode %>
      </p>
      <%= link_to "edit", checkout_state_path('payment') %>
    </div>
  <% end %>

    <div id="order-payment" style="padding:30px 30px 30px 0; clear:both">
      <h2>Payment Details</h2>
      <h4><%= @order.payment.payment_method.name %></h4>

      <% if @order.payment.payment_method.is_a? BillingIntegration::PaypalExpress %>
        <p>You will be redirected to PayPal to complete your order.</p>
      <% else %>
        <%= @order.payment.source.name %><br />
        <%= @order.payment.source.display_number %>
      <% end %>

      <%= link_to "edit", checkout_state_path('payment') %>
    </div>
  <div>

  </div>
  <div class="submit">
    <% if @order.payment.payment_method.is_a? BillingIntegration::PaypalExpress %>
      <button class="blue" type="submit">Go To PayPal</button>
    <% else %>
      <button class="blue" type="submit">Place your order</button>
    <% end %>
  </div>
</div>
