<h1><%= t("my_account") %><%= link_to "(edit)", edit_account_path, :id => "edit_account_link" %></h1>



<h3><%= t("my_orders") %></h3>
<% if @orders.present? %>
  <table id="cart-detail">
    <thead>
      <tr>
        <th><%= t("order_number") %></th>
        <th><%= t("order_date") %></th>
        <th><%= t("status") %></th>
        <th><%= t("shipment_state") %></th>
        <th><%= t("total") %></th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to order.number, order_url(order) %></td>
        <td><%=order.created_at.to_date%></td>
        <td><%= t(order.state).titleize %></td>
        <td><%= order.shipment_state.capitalize %></td>
        <td><%= number_to_currency order.total %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t(:you_have_no_orders_yet) %></p>
<% end %>

<hr/>

<h3>
  My Wishlists:
  <% if current_user.wishlists.present? %>
    <%= raw current_user.wishlists.map { |wl| link_to(wl.name, wl) }.join(", ") %>,&nbsp;
  <% end %>
  <%= link_to "Create New Wish List", new_wishlist_url %>
</h3>
