<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>

<% if products.any? %>
  <div class="list" data-hook="list" data-layer="2">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <div class="product" data-hook="product" data-layer="3">
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p class="image">
          <%= link_to product_image(product), product %>
        </p>
        <div class="details" data-hook="details" data-layer="4">
          <p class="stock" data-hook="stock" data-layer="5"><%= product.has_stock? ? "IN STOCK" : "OUT OF STOCK" %></p>
          <p class="prices" data-hook="prices" data-layer="5">
            <% if product.rrp.present? %>
              <span class="price discounted" data-hook="price_discounted" data-layer="6"><%= number_to_currency product.rrp %></span>&nbsp;
            <% end %>
            <span class="price selling" data-hook="price_selling" data-layer="6"><%= product_price(product) %></span></p>
          <p><%= link_to 'View More', product_path(product), :class => 'button' %></p>
        </div>
        <p class="description" data-hook="description" data-layer="4">
          <%= truncate strip_tags(product.description), :length => 300 %>
        </p>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>

<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
%>
<%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>

