<% content_for :head do -%>
  <meta name="title" content="<%=@page.title%>">
  <% if @page.attribute_present? :meta_keywords -%>
    <meta name="keywords" content="<%=@page.meta_keywords%>">
  <% end -%>
  <% if @page.attribute_present? :meta_description -%>
    <meta name="description" content="<%=@page.meta_description%>">
  <% end -%>
<% end -%>
<% content_for :sidebar do %>
  <% @taxons ||= Taxonomy.where(:name => "Categories").first.root.children %>
  <br />
  <%= render 'shared/all_products' %>
<% end %>
<h2><%= @page.title %></h2>
<%= raw @page.body %>
