<% @body_id = 'product-list' %>

<% content_for :banner do %>
  <% if params.key? :product_group_name %>
    <%- @product_group =  ProductGroup.find_by_permalink(params[:product_group_name]) %>
    <h1><%= @product_group.name %></h1>
    <% if FileTest.exists?("#{Rails.root}/public/images/dogradio/taxon/#{@product_group.permalink}-bg.jpg") %>
      <%= image_tag "dogradio/taxon/#{@product_group.permalink}-bg.jpg" %>
    <% end %>
  <% else %>
    <h1>Products</h1>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/all_products' %>
  <%= render 'shared/recently_viewed_products' %>
<% end %>

<% if params[:keywords] %>

  <% if @products.empty? %>
    <%= t(:no_products_found) %>
  <% else %>
    <%= render "shared/products", :products => @products, :taxon => @taxon %>
  <% end %>

<% else %>

  <%= render "shared/products", :products => @products, :taxon => @taxon %>

<% end %>

