<% @body_id = 'product-list' %>

<%= render 'shared/product_banner' %>

<p class="breadcrumbs"><%= link_to 'Home', root_url %> &raquo; <%= @product_group.present? ? @product_group.name : "Products" %></p>

<% content_for :sidebar do %>
  <%= render 'shared/all_products' %>
  <%= render 'shared/recently_viewed_products' %>
<% end %>

<% if params[:keywords] %>

  <% if @products.empty? %>
    <%= t(:no_products_found) %>
  <% else %>
    <%= render "shared/products", :products => @products, :taxon => @taxon %>
  <% end %>

<% else %>

  <%= render "shared/products", :products => @products, :taxon => @taxon %>

<% end %>

