<p>Enter Your Credit Card Information</p>
<% param_prefix = "payment_source[#{payment_method.id}]" %>

<li class="credit_card">VISA IMAGES</li>

<li class="short">
  <%= t("card_number") %><br />
  <% options_hash = Rails.env.production? ? {:autocomplete => "off"} : {} %>
  <%= text_field_tag "#{param_prefix}[number]", '', options_hash.merge(:class => 'required', :size => 19, :maxlength => 19) %>
</li>

<li class="clear">
  <%= t("card_code") %><br />
  <%= text_field_tag "#{param_prefix}[verification_value]", '', options_hash.merge(:class => 'required', :size => 5) %>
</li>

<li class="short">
  <%= t("expiration") %><br />
  <%= select_month(Date.today, :prefix => param_prefix, :field_name => 'month', :use_month_numbers => true, :class => 'required') %>
  <%= select_year(Date.today, :prefix => param_prefix, :field_name => 'year', :start_year => Date.today.year, :end_year => Date.today.year + 15, :class => 'required') %>
</li>
