<!doctype html>

<!--[if lt IE 7 ]><html lang=en class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang=en class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang=en class="no-js ie8"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link  href="http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >

  <%= include_stylesheets :rdr, :media => 'all' %>

  <script src="/javascripts/libs/modernizr-1.6.min.js"></script>
</head>

<body id="<%= @body_id || controller.controller_name %>">
  <div id="container">

    <header>
      <%= link_to image_tag("dogradio/logo.png", :width => "300", :height => "58", :alt => "Rails Dog Radio", :id => "logo"), root_url %>
      <form action="#" >
      </form>
      <%= form_tag products_url, :method => :get do %>
        <input type="search" id="s1" name="keywords" placeholder="Search Railsdog Radio">
      <% end %>
      <nav>
        <%= link_to "products", products_path %>
        <a href="/help">help</a>
        <% if current_user %>
          <%= link_to t('my_account'), account_path, :class => "cart" %>
          <%= link_to t('logout'), destroy_user_session_path, :class => "cart" %>
        <% else %>
          <%= link_to t('log_in'), login_path, :class => "cart" %>
        <% end %>
        <%= link_to_cart %>
      </nav>
    </header>

    <% if content_for?(:banner) %>
      <div id="banner" role="banner">
        <%= yield :banner %>
      </div>
    <% end %>

    <div id="main" role="main">
      <% if flash.notice %>
        <div class="flash notice"><%= flash.notice %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="flash errors"><%= flash[:error] %></div>
      <% end %>

      <%= yield %>
    </div>

    <% if content_for?(:sidebar) %>
      <div id="sidebar" role="sidebar">
        <%= yield :sidebar %>
      </div>
    <% end %>

  </div>

  <footer>
    <div class="inner">

      <img src="/images/dogradio/kid.jpg" width="204" height="413" alt="Kid" id="kid">

      <div id="about-railsdog-radio">
        <div>
          <p>
            <strong>Railsdog Radio</strong> is NOT a real satellite store, it's a fully working demo application
            for <a href="www.spreecommerce.com">Spree Commerce</a>. Please feel free to play around, but don't submit any information you would not consider public!</p>
          <p id="more-about-railsdog-radio">
            <a href="/about">More about Railsdog Radio ></a>
          </p>
        </div>
      </div>

      <div id="contact-us">
        <h3>Contact Us</h3>
        <p>
        (301)560-2000<br>
        <a href="mailto:sales@railsdogradio.com">sales@railsdogradio.com</a>
        </p>
      </div>

      <div id="social">
        <h3>Social</h3>
        <p>
        <a href="#" id="facebook"><span>Facebook</span></a>
        <a href="#" id="rss"><span>RSS</span></a>
        <a href="#" id="twitter"><span>Twitter</span></a>
        </p>
      </div>

      <div id="menu">
        <h3>Menu</h3>
        <p>
        <a href="/about">About us</a><br />
        <a href="/privacy">Privacy policy</a>
        </p>
      </div>

      <p id="copyright">&copy; Copyright <%= Time.zone.now.year %> Railsdog Radio. All rights reserved</p>

    </div>
  </footer>

  <%= include_javascripts :rdr %>
  <%= javascript_tag do -%>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];(function(e,a){var c=e.createElement(a),b=e.getElementsByTagName(a)[0];c.async=true;c.src=("https:"==location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";b.parentNode.insertBefore(c,b)})(document,"script");
  <% end -%>
  <%= yield :javascripts %>
</body>
</html>

